.form {
  text-align: right;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.form button {
  cursor: pointer;
  background-color: crimson;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 18px;
}

.form button:hover,
.form button:active {
  background-color: #c11c3b;
}
